@model IEnumerable<Laptopp.Models.NguoiDung>

@{
    ViewBag.Title = "KHÁCH HÀNG";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                <a href="@Url.Action( "Edit","KhachHang", new { id = item.CustID })" class="btn btn-warning" role="button">Sửa</a> 
                <a href="@Url.Action( "Details","KhachHang", new { id = item.CustID })" class="btn btn-success" role="button">Chi tiết</a> 
                <a href="@Url.Action( "Delete","KhachHang", new { id = item.CustID })" class="btn btn-danger" role="button">Xóa</a>
            </td>
        </tr>
    }

</table>
